.navbar {
    color: black;
    font-size: 20px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}

.navbar a {
    margin-left: 30px;
}

.header {
    background-color: rgb(244, 231, 177);
}

.logo h1 {
    padding-top: 5px;
    font-size: 12.3px;
    color: rgb(75, 75, 75);
}

.logo {
    padding-top: 12px;
}