.body {
    font-family: 'Noto Sans', sans-serif;
}

.search_box {
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
}

.search_box input {
    border: 1px solid rgb(75, 75, 75);
    font-size: 30px;
    width: 40vw;
    height: 60px;
    margin-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
}

.search_box button {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: rgb(148, 148, 148);
    color: rgb(255, 255, 255);
}

.search_upper {
    width: max-content;
    margin: auto;
    margin-bottom: 20px;
    height: 60px;
    display: flex;
}

.search_box select{
    width: 20vw;
    height: 45px;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 20px;
    background-color: #e8e8e8;
}

.search_lower {
    width: max-content;
    margin: auto;
    margin-bottom: 20px;
    height: 30px;
    display: flex;
}
.search_lower i {
    margin-top: 7px;
    margin-left: 15px;
    margin-right: 10px;
}

@media only screen and (max-width: 768px) {
    .search_box input {
        width: 80vw;
    }

    .search_box select{
        width: 40vw;
    }
}